{% extends "KamilGSiteBundle:Default:layout.html.twig" %}

{% block showlist %}
{% for lists in lists %}
<div class='form-group group-width'>
    Date: {{ lists.createdBy|date('Y-m-d') }}
    <div id='title'>Title: {{ lists.name }}</div>
    <div id='priority'>Priority: {{ lists.priority }}</div>
  <textarea class='form-control textarea' rows='3' name='tresc' readonly>{{ lists.description }}</textarea>
    <div class='buttons'>
        <a href="/edit/{{ lists.id}}"><button type='submit' class='btn btn-danger'>Edit</button></a>
        <a href="/delete/{{ lists.id}}"><button type='submit' class='btn btn-info'>Delete</button></a>
    </div>
    </div>

{% endfor %}
{% endblock %}